.history-page {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    /* background-color: #E7F0F8; */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Đảm bảo thanh phân trang nằm ở cuối */
    position: relative;
    min-height: 80vh; /* Để đảm bảo vùng này đủ lớn */
  }
  
  .history-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Table styling */
  .history-table {
    /* padding-top: 100px; */
    margin-left: 100px;
    margin-bottom: 0;
    /* margin: 0 auto; */
    border-collapse: collapse;
    width: 90%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
  }

  .history-table th{
    margin-top: 10px;
  }
  
  .history-table th,
  .history-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .history-table th {
    background-color: #00adcc;
    color: white;
    font-weight: bold;
  }
  
  .history-table tr:nth-child(even) {
    background-color: #c5f3ff;
  }
  
  .history-table tr:hover {
    background-color: #3197fd;
  }
  
  /* Pagination styling */
  .pagination-history {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: absolute;
    bottom: 20px; /* Cách đáy 20px */
    left: 50%;
    transform: translateX(-50%);
    width: 100%; /* Nếu muốn toàn bộ ngang màn hình */
  }
  
  .pagination-button {
    background-color: #007acc;
    /* background-color: red; */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .pagination-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination-info {
    margin: 0 10px;
    font-size: 16px;
  }