.manage-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add-printer-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}

.add-printer-button:hover {
  background-color: #0056b3;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.printer-item {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

.printer-item.inactive {
  background-color: #9e9e9e;
}

.printer-image {
  max-width: 100%;
  height: auto;
}

.printer-name {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.printer-name:hover {
  background-color: #0056b3;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay .location{
  margin-bottom: 20px;
}

.modal-overlay .campus{
  margin-bottom: 20px;
}

.modal {
  background: rgb(198, 227, 246);
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 11px;
  cursor: pointer;
  font-weight: bold;
  background-color: red;
  color: white;
  height: 25px;
  font-size: 20px;
  width: 20px;
  padding-left: 3px;
}

.confirm-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.confirm-button:hover {
  background-color: #0056b3;
}

.loading {
  font-size: 20px;
  font-weight: bold;
}

.error-message {
  color: red;
  font-size: 18px;
  font-weight: bold;
}

.modal-add-printer input,
.modal-add-printer select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button[type="submit"]:hover {
  background-color: #218838;
}

button[type="button"] {
  background-color: #6c757d;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button[type="button"]:hover {
  background-color: #5a6268;
}
